#text-editor {
  height: 200px;
}

#suggestionFormContainer {
	max-width: 640px;
	width: 100%;
	margin-top: 30px;
}

.fullWidth {
	width: 100%;
}
.checkboxContainer {
	width: 200px;
}
.otherCheckboxText {
    width: 100%;
    max-width: 605px;
}
.smallerMargin {
	margin: 5px !important;
}
.suggestionTitle {
	border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
}

.confirmationContainer {
	height: 69px;
    color: white;
    padding: 20px;
}
.confirmMessage {
	position: absolute;
    left: 160px;
    margin-top: 5px;
}